* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* chrome://flags/#smooth-scrolling > Enabled */
html {
    scroll-behavior: smooth;
}

body {
    background: black;
    font-family: sans-serif;
    color: white;
}

section {
    height: 100vh;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

header,
footer {
    text-align: center;
    height: 100px;
}

header {
    font-size: 5rem;
    position: sticky;
    top: 0;
}

footer {
    background: white;
    color: blue;
    font-size: 2rem;
    position: sticky;
    bottom: 0;
}

.social {
    background: royalblue;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top: 30%;
    z-index: 1;
}
